@{
    Layout = "~/Views/Shared/_LayoutA.cshtml";
    ViewData["Title"] = "Home Admin";
}
@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Carro>

<h1 class="text-center">Bienvenido a nuestro Panel Administrador</h1>

<div class="card-body">

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-cart-arrow-down"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Carros</span>
                    <span class="info-box-number"> @ViewData["Carros"]</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success elevation-1"><i class="fa-solid fa-cart-shopping"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Compras</span>
                    <span class="info-box-number">@ViewData["Compras"]</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-boxes-stacked"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Productos</span>
                    <span class="info-box-number"> @ViewData["Productos"]</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Usuarios</span>
                    <span class="info-box-number">@ViewData["Usuarios"]</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
</div>

<section class="py-2">
    <div class="container" align="center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card card-team hvr-grow-shadow">
                    <div class="card-body">
                        <img class="card-team-img mb-3 img-fluid" src="~/images/User_icon_2.png"  alt="..." />
                        <div class="card-team-name">Jhorky Escalante</div>
                        <div class="card-team-position mb-3">Analista de Sistemas</div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-team hvr-grow-shadow">
                    <div class="card-body">
                        <img class="card-team-img mb-3 img-fluid" src="~/images/User_icon_2.png"  alt="..." />
                        <div class="card-team-name">Roberto Rocco</div>
                        <div class="card-team-position mb-3">Analista de Sistemas</div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-icon text-white mx-1" href="#!"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>