@model Final_Plataformas_De_Desarrollo.Models.Producto

@{
    Layout = "~/Views/Shared/_LayoutA.cshtml";
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">

        <h3>Crear Producto</h3>
        <hr style="border-color:gray;" />
       
            <form asp-action="Create" style="width:50%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label class="control-label col-md-6">Nombre</label>
                    <input asp-for="nombre" class="form-control col-md-6" autofocus />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-6">Precio</label>
                    <input asp-for="precio" class="form-control col-md-6" />
                    <span asp-validation-for="precio" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-6">Cantidad</label>
                    <input asp-for="cantidad" class="form-control col-md-6" />
                    <span asp-validation-for="cantidad" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-6">Categoria</label>
                    <select asp-for="idCategoria" class="form-control col-md-6" asp-items="ViewBag.idCategoria"></select>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-6">Fecha de Creacion</label>
                    <input asp-for="fechaCreacion" class="form-control col-md-6" />
                    <span asp-validation-for="fechaCreacion" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input type="submit" value="Crear" class="btn btn-success" />
                </div>
            </form>
        
        <hr style="border-color:gray;" />
        <div>
            <a role="button" class="btn btn-danger"  asp-action="Index">Volver a la lista</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
