@{
    ViewData["Title"] = "Contactanos";
}
<section class="block block-bb justify-content-center">

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="iconchunk iconchunk-top iconchunk-accent-1">
                <div class="iconchunk-content">
                    <p class="mb-1" style="color: black;">
                        <h1 class="text-center">¿Quienes Somos?</h1><br>
                        Somos estudiantes en la Escuela Da Vinci de la carrera de Analista en Sistemas
                    </p>
                    <ul>
                        <li>Jhorky Escalante Quispe</li>
                        <li>Roberto Andrés Rocco</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8  mx-auto py-5">
            <hr />
            <h1 class="text-center">Visitanos</h1><br>
            <div id="google-map">
                <iframe style="width:100%; height:350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d820.9965489892207!2d-58.396387782290056!3d-34.60451056844648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaea670d4e67%3A0x2198c954311ad6d9!2sDa%20Vinci!5e0!3m2!1ses!2sar!4v1600835578184!5m2!1ses!2sar"></iframe>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center pb-4">
        <div class="col-lg-3 col-sm-6">
            <div>
                <div class="mx-5">
                    <i class="fab fa-whatsapp" style="font-size: 50px;"></i>
                </div>
                <div>
                    (+54-11) 5032-0076
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div>
                <div class="mx-5">
                    <i class="fas fa-envelope" style="font-size: 50px;"></i>
                </div>
                <div>
                    <a href="mailto:soporte@movie-shop.com">soporte@movie-shop.com</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block pb-3">
    <div class="container">
        <div class="block-heading mb-3">
            <h2 class="block-title text-center">Contactanos</h2>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="#" method="POST">
                    <div class="form-group">

                        <input type="text" class="form-control form-control-lg"
                               id="example-input-name"
                               placeholder="Nombre" name="nombre">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg"
                               id="example-input-email"
                               placeholder="Email" name="email">
                    </div>

                    <div class="form-group">
                        <textarea placeholder="Escribe tu mensaje..."
                                  class="form-control"
                                  id="example-textarea" name="mensaje" rows="7"></textarea>
                    </div>

                    <div class="text-right">
                        <a href="#" class="btn btn-danger">
                            <span>Reset</span>
                        </a>
                        <input class="btn btn-success" data-toggle="modal" data-target="#exampleModalCentered" type="submit" name="enviar" value="Enviar">
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>