@{
    ViewData["Title"] = "Contactanos";
}
<section class="block block-bb justify-content-center">

        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="iconchunk iconchunk-top iconchunk-accent-1 text-center">
                    <div class="iconchunk-content">
                        <p class="mb-1" style="color: black;">
                            <h1>¿Quienes Somos?</h1><br>
                            Somos estudiantes en la Escuela Da Vinci de la carrera de Analista en Sistemas
                        </p>
                        <ul>
                            <li>Jhorky Escalante Quispe</li>
                            <li>Roberto Andrés Rocco</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8  mx-auto py-5">
                <hr />
                <h1>Visitanos</h1><br>
                <div id="google-map">
                    <iframe style="width:100%; height:350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d820.9965489892207!2d-58.396387782290056!3d-34.60451056844648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaea670d4e67%3A0x2198c954311ad6d9!2sDa%20Vinci!5e0!3m2!1ses!2sar!4v1600835578184!5m2!1ses!2sar"></iframe>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center pb-4">
                <div class="iconchunk iconchunk-left iconchunk-accent-1 mb-3 mb-sm-0">
                    <div class="iconchunk-content">
                        <i class="fab fa-whatsapp" style="font-size: 40px;"></i><br>
                        (+54-11) 5032-0076
                    </div>
                </div>
        </div>

</section>