
@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel;

<div class="text-center">
    
    <center>
        <section>
            <form asp-controller="Home" asp-action="IniciarSesion" method="post">
                <h4>Iniciar sesion</h4>
                <h4>@ViewData["Login"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group text-left">
                    <label asp-for="Input.DNI"></label>
                    <input asp-for="Input.DNI" class="form-control" />
                    <span asp-validation-for="Input.DNI" class="text-danger"></span>
                </div>
                <div class="form-group text-left">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-default">Iniciar sesion</button>
                </div>
            </form>
        </section>
        <label id="indexMessage" class="error">@Html.DisplayFor(lvm => lvm.ErrorMessage)</label>
    </center>

</div>
