@{
    ViewData["Title"] = "Register";
}
@model FormulariosViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrarse</h3>
                </div>
                <img src="~/images/login.png" class="mx-auto w-25" />
                <div class="card-body">
                    <section>
                        <form asp-controller="Home" asp-action="Registrarse" method="post">
                            <div class="form-group">
                                <input asp-for="RegisterInput.DNI" class="form-control" placeholder="Ingese su Dni" autofocus />
                                <span asp-validation-for="RegisterInput.DNI" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="RegisterInput.Nombre" class="form-control" placeholder="Ingrese su Nombre" />
                                <span asp-validation-for="RegisterInput.Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="RegisterInput.Apellido" class="form-control" placeholder="Ingrese su Apellido" />
                                <span asp-validation-for="RegisterInput.Apellido" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="RegisterInput.Email" class="form-control" placeholder="Ingrese el Email" />
                                <span asp-validation-for="RegisterInput.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="RegisterInput.Password" class="form-control" placeholder="Ingrese su Password" />
                                <span asp-validation-for="RegisterInput.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="RegisterInput.CUIT_CUIL" class="form-control" placeholder="Ingrese su Cuit/Cuil" />
                                <span asp-validation-for="RegisterInput.CUIT_CUIL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-check-label justify-content-start d-flex ml-4">
                                    <input class="form-check-input" asp-for="RegisterInput.esEmpresa" />
                                    Sos Empresa
                                </label>
                                <span asp-validation-for="RegisterInput.esEmpresa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <span class="text-danger">
                                    @Html.DisplayFor(lvm => lvm.ErrorMessage)
                                </span>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Registrarse</button>
                            <div class="card-footer d-flex justify-content-center">
                                ¿Ya te registraste? <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Login">
                                    Iniciar Sesión
                                </a>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}