@{
    ViewData["Title"] = "Listado de Productos";
}
@model List<Final_Plataformas_De_Desarrollo.Models.CarroProducto> ;

<div class="container">

    @if (Model.Count() > 0)
    {
        
        @foreach (var prod in Model)
        {
            <div class="row">
                <div class="col-md-10">
                    <h5>@prod.producto.nombre</h5>
                    <p>Precio: @prod.producto.precio $</p>
                    <p>Cantidad: @prod.cantidad</p>
                </div>

                <div class="col-md-2">

                    @* MODIFICAR PRODUCTO *@
                    <a class="bg-danger">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    @* ELIMINAR PRODUCTO *@
                    <a class="bg-danger">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>

            </div>
            <hr />
        }
    }
    else
    {
        <div class="row">
            <h5>Carro vacio</h5>
        </div>
        <hr />
    }



</div>