@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Producto>;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<div class="text-center">

    <h3 class="display-4">Welcome </h3>

    <hr />

    <div class="container">
        <div class="row">
            @foreach (var prod in Model)
            {
                <div class="col-md-4">
                    <label>
                        @prod.nombre
                    </label>
                </div>
            }
        </div>
    </div>

</div>
