@model Final_Plataformas_De_Desarrollo.Models.Compra

@{
    Layout = "~/Views/Shared/_LayoutA.cshtml";
    ViewData["Title"] = "Editar Compra";
}

<div class="row">
    <div class="col-md-12">

        <h3>Editar Compra</h3>
        <hr style="border-color:gray;" />

        <form asp-action="Edit" style="width:50%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idCompra" />
            <input type="hidden" asp-for="idUsuario" />

            <div class="form-group row d-flex align-content-center"  >
            
                <label class="control-label col-md-5 h5">Total</label>
                <label class="h5">$</label>
                <input asp-for="total" class="form-control col-md-6" autofocus />

                <span asp-validation-for="total" class="text-danger col-md-12"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>

        <hr style="border-color:gray;" />
        <div>
            <a role="button" class="btn btn-danger" asp-action="Index">Volver a la lista</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
